body {
    position:relative;
    margin: 0;
    padding:0;
}

/*.photo {
    !*height:400px;*!
    !*width:600px;*!
    position:absolute;
}*/

/*.active img {
    width:100%;
    height:100%;
}*/

.form-title {
    /*margin-left: 80px;*/
}

